body {
    background-image: url('../images/space-background.jpeg');
    min-width: 100%;
    min-height: 100%;
    color:darkgray;
}

.jumbotron {
    padding-top: 20px;
    color: rgb(116, 109, 109);
    background-color: rgb(241, 237, 237);
    margin-top: 50px;
    min-height: 100%;
}

p {
    text-align:left;
    margin-top: 20px;
}